body {
  background-color: #191919;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1204px;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0px 12px;
  }
}
